#photos input[type="checkbox"] {
  display: none;
}
#photos input[type="checkbox"]:checked + img {
  background-color:#167fe6;
}

.plupload_container {
  padding: 0;
}

.plupload_scroll .plupload_filelist {
  overflow: auto;
}

.gebo-upload {
  margin-bottom: 0;
}