.thumbnails.gallery-grid figure div {
    height: 150px;
    overflow: hidden;
    -webkit-transition: opacity ease-out .2s;
}
.thumbnails.gallery-grid figure {
    margin: 0;
    text-align: center;
    transition: opacity ease-out .2s;
}

.thumbnails.gallery-grid figcaption {
    border-top: 5px solid #e4e4e4;
    padding: 10px;
    background: white;
    min-height: 60px;
    transition: border-top-color linear .2s;
    -webkit-transition: border-top-color linear .2s;
}
.thumbnails.gallery-grid li {
    width: 230px;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.2);
}

.thumbnails.gallery-grid a {
    color: #232323;
}

.thumbnails.gallery-grid a:hover {
    text-decoration: none;
}
.thumbnails.gallery-grid a:hover figure div{
    opacity: 0.8;
}

.thumbnails.gallery-grid a:hover figcaption {
    border-top-color: #169fe6;
}

.thumbnails.gallery-grid figcaption h5 {
    font-size: 12px;
}